<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello, world!</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-primary btn-lg" routerLink="/register" role="button"> Register »</a>
        <a class="btn btn-primary btn-lg" routerLink="/login" role="button">Login »</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>CHA</h3>
      <p>info</p>
    </div>
    <div class="col-md-4">
        <h3>RAH</h3>
        <p>infra</p>
      </div>
      <div class="col-md-4">
          <h3>CAH</h3>
          <p>incah</p>
      </div>
  </div>